
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="w3-padding w3-content" style="height: 610px">
    <div id="title" class="w3-container">
        <h2>THÔNG TIN SINH VIÊN</h2>
        <hr>
    </div>
    <div id="info" class="w3-container">
        <h4>Mã sinh viên: 62130808</h4>
        <h4>Tên sinh viên: Hồ Hoàng Kha</h4>
        <h4>Lớp: 62CNTT-3</h4>
    </div>
</div>

