
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
</head>


<h3 style="text-align: center;">ĐÃ GỬI MAIL THÀNH CÔNG</h3>
<br />
@Html.ActionLink("Quay lại", "SendMail")